# Environment variables migrated from Standalone configurations
# Rename this file to .env to use locally

VITE_APP_APIENDPOINT=""
VITE_APP_APPID=""
VITE_APP_APPTITLE=""
VITE_APP_ENVIRONMENT=""
VITE_APP_SECRETKEY=""
VITE_APP_SERVERURL=""
